{% extends 'base.html' %}
{% load static %}

{% block description %}This is my description{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block keywords %} modern black suits{% endblock %}
{% block css  %}{% static "products/style.css" %}{% endblock %}
{% block title %} My shop {% endblock%}


{% block body %}
{% include "includes/nav.html"  %}

<!-- ***************** main content *************** -->
<section id="intro">
    <div  style="width: 50%;">
        <h1>Best Clothing Quality</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Odit id fugit odio pariatur dolorem quia dolorum
             incidunt delectus facilis nostrum. Dolorum id ullam debitis,
             quaerat eum corrupti! Aspernatur, odit voluptates?</p>
             <a onclick="becomeMember()" id="member-btn">Become a member</a>
    </div>
<video controls>
    <source src=" {% static "products/video/intro-video.MP4" %} ">
</video>
</section>  

<!-- ***************** product card ******************* -->
<div class="product-nav">
    <h3>Suits</h3>
    <a href="{% url "productcat" "suits" %}">View All Suits</a>
</div>
<main id="products-intro">
    {% for product in products%}
    <div class="product-card">
        <div class="review-container"><p>Reviews 4.8⭐</p></div>
        <img src="{{product.image.url}}"  class="product-img">
        <div style="padding: 20px 25px;">
            <h3>{{product.title}}</h3>
            <p>{{product.description}}</p>   
            <a href="">View Product</a>
        </div>
    </div>
    {% endfor %}

    {% comment %} <h1 id="displayTitle"> this is my title</h1> {% endcomment %}




</main>
<!-- *********************** footer *********************** -->
<footer>
    <h2>This is my footer.</h2>
</footer>
{% endblock %}