{% extends 'base.html' %}

{% block description %}This is my description{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block keywords %} modern black suits{% endblock %}
{% block title %} My shop {% endblock%}


{% block body %}
<h1>profile</h1>
<ol type="a">
    <a href="index.html" id="selected">Home</a>
    <li><a href="shop.html">Shop</a></li> 
    <li><a href="contact.html">Contact</a></li>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="signup.html">Signup</a></li>
</ol>
{% endblock %}